<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <!-- <link rel="stylesheet"  href="{% static 'portal/css/fontawesome.min.css' %}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  href="{% static 'portal/css/bootstrap.min.css' %}">
    <link rel="stylesheet"  href="{% static 'portal/css/bootstrap-datetimepicker.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-md-offset-4">


                    <form action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button id="submit" class="btn btn-primary" type="submit" value="Submit">Submit</button>
                    </form>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'portal/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'portal/js/main.js'%}"></script>
    <!--https://www.jqueryscript.net/time-clock/Date-Time-Picker-Bootstrap-4.html>-->
</body>
</html>