{% block content %}
    <h3 class="form-heading">My absences</h3>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Type</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Comment</th>
          </tr>
        </thead>
        <tbody>
            {% for my_absence in my_absences %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ my_absence.user }}</td>
                <td>{{ my_absence.type_miss }}</td>
                <td>{{ my_absence.from_date }}</td>
                <td>{{ my_absence.to_date }}</td>
                <td>{{ my_absence.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}